{% load static %}
<html>
<!DOCTYPE html>
<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>FOOD SHOP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'Home/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'Home/layout/styles/style.css' %}" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url({% static 'Home/images/demo/backgrounds/bakgnd.jpg' %});"> 
  
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <h1><a href="/">FOOD SHOP</a></h1>
      </div>
      <nav id="mainav" class="fl_right"> 
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          {% if user.is_authenticated %}
          <li>Hai {{user.username}}</li>
          <li><a class="active" href="{% url 'cartdetails' %}">Cart <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{itc}}</span></a></li>
          <li><a class="active" href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a class="active" href="{% url 'register' %}">Register</a></li>
          <li><a class="active" href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          
     
        </ul>
      </nav>
    </header>
  </div>
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
      <div class="fl_left"> 
        <ul class="nospace">
         
        </ul>
      </div>
      <div class="fl_right"> 
        <ul class="nospace">
         
          <li id="searchform">
            <div>
              <form action="{% url 'search' %}" method="get">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter the item to search " name="q">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Filter</button>
      <div class="dropdown-content">
      <a href="/">All</a>
      {% for i in ct %}
      <b style="color: black;">
        <a href={{i.get_url}}>{{i.name}}</a><br></b>
      {% endfor %}
      </div>
    </div>
  </div>

  <div id="pageintro" class="hoc clear"> 
    <article>
      <h3 class="heading">Quality Food Items</h3>
      <p>Register With Us Quality Food Items At Your Door Step</p>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn" href="{% url 'login' %}">LOG IN</a></li>
          <li><a class="btn inverse" href="{% url 'register' %}">JOIN IN</a></li>
        </ul>
      </footer>
    </article>
  </div>
</div>
<div class="col-md-6">
  <div class="category">
   
  
  </div>
</div>

<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    
    <!-- main body  product view-->
    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        {% for i in pg.object_list %}
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="width: 500px;height: 300px;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatewords:17}}</p>
              <p>Price: {{i.price}} Rs</p>
              <p>Stock left: {{i.stock}}</p>
            </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </section>
    <div>
      <center>
        {% for p in pg.paginator.page_range %}
        <a href="?page={{p}}" class="btn btn-light btn-sm{% if pg.number == p%} active {% endif %} ">{{p}}</a>
        {% endfor %}
      </center>
    </div>
    
    <hr class="btmspace-80">
   
    <div class="clear"></div>
  </main>
</div>
<footer>
  <div  class="footer" id="footer">
      <h3>Food shop</h3>
      <p>We Provides Best Food And Fast Delivery In All Locations.<br>For More Details<BR>
      Contact Us:</p>
      <ul class="socials">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>

      </ul>
  </div>
  <div class="footer-bottom">
      <p>All copyright <script>document.write(new Date().getFullYear());</script> &copy; <a href="/">Food shop</a>  </p>
              <div class="footer-menu">
              </div>
  </div>




</footer>


<script src="{% static 'Home/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'Home/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'Home/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>