
{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/style.css' %}">
    <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

 </style>

  </head>
<body>
  <div class="wrapper">
    <h2>Log in</h2>
    <form action="login" method="post">
       {% csrf_token %}
      <div class="input-box">
<!--          {{form.username}}-->
        <input type="text" name="username" placeholder="Enter a username" required>
      </div>
      <div class="input-box">
<!--           {{form.password}}-->
        <input type="password" name="password" placeholder="Enter your password" required>
          
      </div>
      
      <div class="input-box button">
        <input type="Submit" name="submit" value="Log In">
      </div>
      
    </form>
    <div style="color: red;text-align: center;">
      {% for message in messages %}
      <h4>{{message}}</h4>
      {% endfor %}
  </div>
</body>
</html>